/* Selector -> . = Klasse | # = id */

/* Spielfeld */
.gameBoard {
    /* display: none; */
    border: 2px solid black;
    border-spacing: 3px;
    margin: 25px;
    float: left;
}

.board_center {
    width: 675px;
    border: none;
    vertical-align: bottom;
    background-repeat: no-repeat;
    background-size: auto 40px;
}

.field{
    position: relative;
    top: 0;
    left: 0;
    padding: 0;
    vertical-align: bottom;
    background-repeat: no-repeat;
    background-size: auto 40px;

}

.board_corner {
    width: 102px;
    height: 102px;
    border: 1px solid black;
}

.board_top {
    width: 72px;
    height: 102px;
    border: 1px solid black;
}

.board_bottom {
    width: 72px;
    height: 102px;
    border: 1px solid black;

}

.board_left {
    width: 102px;
    height: 72px;
    border: 1px solid black;
    content: "left";
}

.board_right {
    width: 102px;
    height: 72px;
    border: 1px solid black;
}
