
body {
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    border: 1px solid white;
}

div {
    color: black;
    margin:0;
    padding:0;
}

.table {
    width: 100vw;
    height: 100vh;
}


.board {
    background-color: #2E3F4B;
    border: 4px solid white;
    width: 1300px;
    height: 1300px;
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    position: absolute;
    left: 150px;
}
.space {
    height: 98px;
    width: 198px;
    border: 1px solid white;
    background-color: #2E3F4B;
    color: white;
}
.corner {
    height: 198px;
    width: 198px;
    border: 1px solid white;
    background-color: #2E3F4B;
    z-index: 1;
}

.cornerContainer {
    position: relative;
    justify-content: flex-start;
    transform: rotate(315deg);

}

.goText{
    position: absolute;
    color: #eb0404;
    -webkit-text-stroke: 1px white;
    font-size: 50px;
}

.goArrow{
    position: relative;
    color: #eb0404;
    -webkit-text-stroke: 1px white;
    font-size: 100px;
    top: 100px;
}

.row {
    display: flex;
    flex-direction: row;
    height: 200px;
}
.fix {
    display: flex;
    flex-direction: column;
}
.space2 {
    position: relative;
    width:98px;
    height: 198px;
    border: 1px solid white;
    background-color: #2E3F4B;
    color: white;
}
.bottom {
    margin-top: auto;
}

.left .space .color {
    width: 25%;
    height: 100%;
    margin-left: auto;
    border-left: 1px solid black;
}
.right .space .color {
    width: 25%;
    height: 100%;
    margin-right: auto;
    border-right: 1px solid black;
}
.top .space2 .color {
    width: 100%;
    height: 25%;
    margin-top: 147px;
    border-top: 1px solid black;
}
.bottom .space2 .color {
    width: 100%;
    height: 25%;
    border-bottom: 1px solid black;
}
.group1 {background-color: #823405;}
.group2 {background-color: #b5fdff;}
.group3 {background-color: #c10a80;position:relative;}
.group4 {background-color: #f77e11;position:relative;}
.group5 {background-color: #eb0404;position:relative;}
.group6 {background-color: #f8fd0f;position:relative;}
.group7 {background-color: #43c42c;position:relative;}
.group8 {background-color: #0984f6;position:relative;}

.title {
    padding: 16PX 5PX;
}
.title2 {
    text-align: center;
}
.price {
    font-size: 0.85em;
    margin-top: 45px;
}
.price2 {
    font-size: 0.85em;
    margin-top: 61px;
}
.rotationRight {
    width: 0;
    left: 80px;
    top: 60px;
    position: absolute;
    transform: rotate(-90deg);
}
.rotationRightPrice {
    font-size: 0.85em;
    left: 140px;
    top: 40px;
    width: 85px;
}
.rotationLeft {
    width: 0;
    right: 80px;
    top: -5px;
    position: absolute;
    transform: rotate(90deg);
 }
.rotationLeftFix {top:5px;}

.rotationLeftPrice {
    font-size: 0.85em;
    left: -176px;
    top: 40px;
    width: 85px;
}
.upside {
    width:0;
    top: 99px;
    left: 84px;
    font-size:14px;
    position: absolute;
    transform: rotate(180deg);
}
.upsideprice {
    font-size: 0.85em;
    left: 10px;
    top: 10px;
    width: 85px;
}
#park {
    top: 50px;
}
#boardwalk {
    top:84px;
}

#chance {
    border: 1px dashed black;
    width:250px;
    height:150px;
    top: -180px;
    left: -350px;
    font-size:14px;
    position: absolute;
    transform: rotate(135deg);
}
#community {
    border: 1px dashed black;
    width:250px;
    height:150px;
    top: 150px;
    left: 150px;
    font-size:14px;
    position: absolute;
    transform: rotate(135deg);
}
#communitytext {
    width:150px;
    height:15px;
    top: 280px;
    left: 270px;
    font-size:14px;
    position: absolute;
    transform: rotate(135deg);
}
#chancetext {
    width:100px;
    height:20px;
    top: -172px;
    left: -345px;
    font-size:14px;
    position: absolute;
    transform: rotate(-45deg);
}

#middleText {
    width:auto;
    height:auto;
    top: -402px;
    left: -805px;
    font-size:50px;
    position: absolute;
    text-align: center;

}

#moneyP1{
    -moz-text-size-adjust: auto;
    text-align: center;
    border: 2px solid black;
    width:200px;
    height:50px;
    top: 50px;
    font-size:25px;
    position: absolute;
}
#moneyP2{
    -moz-text-size-adjust: auto;
    text-align: center;
    border: 2px solid black;
    width:200px;
    height:50px;
    top: 110px;
    font-size:25px;
    position: absolute;
}
/* FÜR ICONS */
.prison{
    font-size: 20px;
    transform: rotate(45deg);
    position: relative;
}

.parking{
    font-size: 25px;
    transform: rotate(135deg);
    position: relative;
    top: 40px;
}

.goJail{
    font-size: 20px;
    top: 45px;
    left: -10px;
    transform: rotate(-135deg);
    position: relative;
}

.smallCorner {
    height: 140px;
    width: 140px;
    border: 1px solid white;
    position: relative;
    left: 57px;
    background-color:  orange;
    z-index: 2;
}

.textSize{
    font-size: 20px;
}

.player1{
    height: 25px;
    width: 25px;
    background-color: red;
    border: 2px solid white;
    border-radius: 50%;
    display: inline-block;
}

.player2{
    height: 25px;
    width: 25px;
    background-color: yellow;
    border: 2px solid white;
    border-radius: 50%;
    display: inline-block;
}


#buyButton{
    position: relative;
    top:50px;
    height: 30px;
    width: 80px;
    padding: 15px 50px;
    color: #fff;
    background-color: dimgrey;
    border: none;
    font-size: 20px;
    border-radius: 20px;
    box-shadow: 1px 3px #50514F;
    outline: none;
    transition: .3s;
}

#buyButton:hover, button:active {
    outline: none;
    background: #50514F;
    cursor: pointer;
    transform: translateY(15px);
}
