body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2E3F4B;
}

button {
    position: relative;
    top:80px;
    left:10px;
    padding: 15px 50px;
    color: #fff;
    background-color: dimgrey;
    border: none;
    font-size: 20px;
    border-radius: 20px;
    box-shadow: 1px 3px #50514F;
    outline: none;
    transition: .3s;
}

button:hover, button:active {
    outline: none;
    background: #50514F;
    cursor: pointer;
    transform: translateY(15px);
}

.game {
    position: relative;
    width: auto;
    height: 100%;
}

.container {
    position: relative;
    display: inline-block;
    top: 200px;
}

.dice {
    position: relative;
    width: 60px;
    height: 50px;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.dot {
    position: absolute;
    width: 20px;
    height: 20px;
    margin: -10px 5px 5px -10px;
    border-radius: 20px;
    background-color: black;
    box-shadow: inset 2px 2px grey;
}

.dice-one {
    position: absolute;
    left: 120px;
}

.dice-two {
    position: absolute;
    left: -20px;
}

.side {
    position: absolute;
    background-color: #ffF;
    border-radius:5px;
    width: 100px;
    height: 100px;
    border: 1px solid #e5e5e5;
    text-align: center;
    line-height: 2em;
}
.one-1 {
    top: 50%;
    left: 50%; }
